$h4-color: #8800ff;
@mixin common-transition() {
  transition-duration: 0.2s;
}

.el-header{
  position: fixed;
}

.header-con{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  color : #fff;
  @include common-transition();

  &.onTop{
    background: #fff;
    color: #333;
  }

  .header-left{
    background: url(~/assets/images/header-left.png) no-repeat;
    background-position: left;
    background-size: cover;
    width: 200px;
  }

  .header-right{
    width: 100px;
  }

  .header-tabs{
    display: inline-block;

    .header-tabs-item{
      @include common-transition();
      height: 54px;
      line-height: 54px;
      width: 88px;
      display: inline-block;
      text-align: center;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #8800ff5d;
      }

      &.active{
        background-color: #8800ff;
        color: #fff;
      }
    }
  }
}

.index-gallery{
  width: calc(100% + 40px);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: -20px;
  margin-bottom: 0;
}