@use "sass:math";

$base-color: #ff9900;

$--colors: (
  "primary": (
    "base": green,
  ),
  "success": (
    "base": #21ba45,
  ),
  "warning": (
    "base": #f2711c,
  ),
  "danger": (
    "base": #db2828,
  ),
  "error": (
    "base": #db2828,
  ),
  "info": (
    "base": #42b8dd,
  ),
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": $base-color,
    ),
  ),
  $header: (
    "padding": 0,
  )
);

// @tailwind base;

@mixin iconInBar() {
  .el-switch__inner {
    transform: translateX(calc(-50% + 2px));
    z-index: 1;

    .el-icon {
      color: #606266;
    }
  }

  &.is-checked {
    .el-switch__inner {
      transform: translateX(calc(50% - 2px));

      .el-icon {
        color: #606266;
      }
    }
  }
}

@mixin common-transition() {
  transition-duration: 0.2s;
}

.glitch {
  position: relative;
  mix-blend-mode: lighten;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    &::before {
      animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
    }

    &::after {
      animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
    }
  }

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    clip: rect(0, 0, 0, 0);
    left: -1px;
    text-shadow: 4px 0 #ff3f1a;
  }

  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    clip: rect(0, 0, 0, 0);
    left: 1px;
    text-shadow: -5px 0 #00a7e0;
  }
}

@keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0);
  }

  25% {
    clip: rect(25px, 9999px, 99px, 0);
  }

  50% {
    clip: rect(50px, 9999px, 102px, 0);
  }

  75% {
    clip: rect(30px, 9999px, 92px, 0);
  }

  100% {
    clip: rect(91px, 9999px, 98px, 0);
  }
}

@keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0);
  }

  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0);
  }

  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0);
  }

  75% {
    top: 0;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0);
  }

  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0);
  }
}

.el-header {
  position: fixed;
  z-index: 2;
}

.header-con {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  color: #fff;
  @include common-transition();

  &.onTop {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 40px -8px rgb(0 0 0 / 50%);
    color: #333;
  }

  &.stable{
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 40px -8px rgb(0 0 0 / 50%);
    color: #333;
  }

  .header-left {
    background: url(~/assets/images/header-left.png) no-repeat;
    background-position: left;
    background-size: cover;
    width: 200px;
  }

  .header-right {
    width: 200px;
    display: flex;
    line-height: 54px;
  }

  .header-tabs {
    display: inline-block;

    .header-tabs-item {
      @include common-transition();
      height: 54px;
      line-height: 54px;
      width: 88px;
      display: inline-block;
      position: relative;
      text-align: center;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        @include common-transition();
        width: 0;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        background: #8800ff;
      }
    }
  }
}

.index-gallery {
  width: calc(100% + 40px);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: -20px;
  margin-bottom: 0;
  position: relative;

  &::before {
    background-image: url(~/assets/images/gallery/grid.png);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-attachment: fixed;
  }

  .center-con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: bold;

    .title-big {
      font-size: 80px;
      font-family: Ubuntu, sans-serif;
      font-style: italic;

      &:hover {
      }
    }
  }
}

.sub-gallery {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-image: url(~/assets/images/gallery/category/category-banner1.jpg);
  margin: -20px;
  margin-bottom: 0;

  .center-con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: bold;
  }
}

.banner-title {
  font-size: 54px;
  color: #fff;
}

.header-switch {
  @include iconInBar();
}
